* {
  margin: 0;
  padding: 0;
}
body {
  display: block;
  background: linear-gradient(to right, aqua 25%, aquamarine 75%);
}
.main {
  width: 100%;
  background: linear-gradient(to right, aqua 25%, aquamarine 75%);
}
.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon {
  width: 200px;
  float: left;
  height: 70px;
}

.logo {
  color: rgb(49, 104, 104);
  font-size: 35px;
  font-family: Arial;
  padding-left: 10px;
  float: left;
  padding-top: 10px;
  background: transparent;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  border: transparent;
}

.menu {
  width: 400px;
  float: left;
  height: 70px;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 65px;
  margin-top: 30px;
  font-size: 15px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-family: Arial;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}

ul li a:hover {
  color: black;
}

.search {
  width: 330px;
  float: left;
  margin-left: 270px;
}

.srch {
  font-family: "Times New Roman";
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid whitesmoke;
  margin-top: 13px;
  color: black;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn {
  width: 100px;
  height: 40px;
  background: aqua;
  border: 2px solid aqua;
  margin-top: 13px;
  color: white;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.srch:focus {
  outline: none;
}
