body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #fffdd0;
  scroll-behavior: smooth;
}

header {
  background: #28282b;
  color: white;
  padding: 20px 0;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.logo {
  font-size: 25px;
  color: #cc5500;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  color: #cc5500;
  transition: 0.3s;
}
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background: white;
  margin: 5px;
  transition: all 0.3s ease;
  opacity: 0;
}

section {
  padding: 60px 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background: #333;
  }

  .nav-links li {
    margin: 20px 0;
  }

  .burger {
    display: block;
  }

  .nav-active {
    display: flex;
  }
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
